<!--<html lang = "en">-->
   <!--<head></head>-->
   <!--<body>-->
      <!--<h3> <a href = "{{ url_for('new') }}">Add Employee-->
         <!--</a></h3>-->
<!--{% if employee %}-->
      <!--<table border="1">-->
         <!--<thead>-->
            <!--<tr>-->
               <!--<th>Name</th>-->
               <!--<th>Email</th>-->
               <!--<-->
            <!--</tr>-->
         <!--</thead>-->

         <!--<tbody>-->

            <!--{% for e in employee1%}-->
               <!--<tr>-->
                  <!--<td>{{ e.name }}</td>-->
                  <!--<td>{{ e.email }}</td>-->

               <!--</tr>-->
            <!--{% endfor %}-->

         <!--</tbody>-->
      <!--</table>-->
   <!--{% endif %}-->
   <!--</body>-->
<!--</html>-->
<html>
<head>
  <body>
<h1>Flask Application</h1>
</body>
</head>
</html>
